<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
    <div class="container d-flex align-items-center">
      <a class="navbar-brand" routerLink="/home">Kiddos</a>
      <button class="navbar-toggler" type="button" (click)="toggleMenu()">
        <span class="oi oi-menu"></span> Меню
      </button>
      <div class="navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link pl-0" (click)="closeMenu()">Головна</a></li>
          <li class="nav-item"><a routerLink="/public-news" routerLinkActive="active" class="nav-link" (click)="closeMenu()">Новини</a></li>
          <li class="nav-item"><a routerLink="/teachers" routerLinkActive="active" class="nav-link" (click)="closeMenu()">Вчителі</a></li>
          <li class="nav-item"><a routerLink="/timetable" routerLinkActive="active" class="nav-link" (click)="closeMenu()">Розклад</a></li>
          <li class="nav-item"><a routerLink="/school-pride" routerLinkActive="active" class="nav-link" (click)="closeMenu()">Гордість школи</a></li>
          <li class="nav-item"><a routerLink="/about" routerLinkActive="active" class="nav-link" (click)="closeMenu()">Про нас</a></li>
          <li class="nav-item"><a routerLink="/contacts" routerLinkActive="active" class="nav-link" (click)="closeMenu()">Наші конакти</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
