<div class="container-fluid">
  <div class="container">
    <h1>Про нас</h1>

    <div class="row">
      <div class="col-sm-12">
        <div class="director-logo"></div>
      </div>

      <div class="col-sm-12">
        <h2 class="director-name">
          Петренко Віктор Іванович
        </h2>
        <p class="director-sub-name">
          <small>Директор шоли</small>
        </p>
      </div>
      <div class="row">
        <div class="col-sm-12">
          З чого починається школа?  Хтось скаже, що з першого дзвоника, хтось – з букваря і прописів.  Але нам здається, що школа починається з директора!
          Сучасна школа – складний живий організм.  Учень заходить до класу і не замислюється, скільки людей працюють для нього.  Щодня творчі, фізичні, духовні енергії багатьох людей зливаються воєдино, щоб дитині  в школі було комфортно. Нота кожного є складовою загальної мелодії. Тоді вона звучить…  А диригентська паличка – в руках директора школи.
          Наша Харківська загальноосвітня школа І-ІІІ ступенів №70  тому і працює  творчо і злагоджено, що наш директор не просто керівник-професіонал, а ще й професіонал з музичною освітою!
          Сьогодні керівник навчального закладу –  це адміністратор, економіст, юрист, маркетолог, pr – менеджер, фахівець з кадрів. І, звичайно, психолог, соціолог, педагог. Саме такий наш Віктор Іванович!  Людина мудра, порядна і надзвичайно відповідальна.  Наш директор  визначає вектор розвитку школи.  Вищу мету. Місію. Мрію. Ту захмарну далечінь, до якої заклад прагне  із року в рік … Стати найкращими, збудувати спортивний зал  і їдальню, зробити освітній простір сучасним , забезпечити стовідсотковий вступ до вузів… Досягнемо? Будемо прагнути до нових горизонтів. Позитивна соціальна рекомендація для школи – це учні, кадри, конкурентоспроможність. І у нас це є! Ми будуємо  Хорошу школу!  «Хороша школа» – це школа, якій батьки доручають своїх дітей зі спокійною душею.  Саме так позиціонується Харківська загальноосвітня школа І-ІІІ ступенів №70.
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h3>Загальна характеристика навчального закладу:</h3>
        </div>
        <div class="col-sm-12">
          Харківська загальноосвітня школа І-ІІІ ступенів №70 Харківської міської ради Харківської області є комунальним закладом освіти.
          Рік заснування: 1961
          Юридична адреса: 61075, м. Харків, проспект Олександрівський, 150,
          тел.: (057) 725-54-59
          Електронна адреса:sch70@kharkivosvita.net.ua
          Заклад освіти є юридичною особою, має печатку, штамп, бланк, має право відкривати рахунки в органах державного казначейства.
          Головна мета закладу освіти – забезпечення реалізації права громадян на здобуття повної загальної середньої освіти.
        </div>
      </div>
    </div>
  </div>
</div>
